#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY="django-insecure-cqoclk((&9%qcqo^u*jmmm(_e343(wt3&hpy2mxariyg6s@s4a"
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export CELERY_BROKER_URL = "redis://localhost:6379"
export CELERY_RESULT_BACKEND="redis://localhost:6379"
export CELERY_TASK_SOFT_TIME_LIMIT = 60
export CELERY_TASK_TIME_LIMIT = 180