#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY="django-insecure-cqoclk((&9%qcqo^u*jmmm(_e343(wt3&hpy2mxariyg6s@s4a"
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export CELERY_BROKER_URL = "redis://127.0.0.1:6379"
export CELERY_RESULT_BACKEND="redis://127.0.0.1:6379"