[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-file = "*"
torch = "*"
transformers = "*"
validators = "*"
easyocr = "*"
opencv-python = "*"
djangorestframework = "*"
python-dotenv = "*"
redis = "*"
celery = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.11"
